/* 02 */
 /* calculator Start  */
 .calculator-title{
	background-color: bisque;
	margin-bottom: 0;
}
 .calculator {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: bisque;
    padding: 30px 0px;
 }
 .cal_body {
     width: 300px;
     /* height: 400px; */
     border: 10px solid rgb(78, 75, 75);
     box-sizing: border-box;
     border-radius: 6px;

 }
 .monitor {
    /* height: 100px; */
    background: rgb(136, 90, 35);
    border-radius: 0;
    text-align: right;
    color: #fff;
 }
 .moTop {
    height: 45px;
    font-size: 16px;
    align-items: center;
    padding: 0 10px;
    border-bottom: 3px solid rgb(78, 75, 75);
    display: flex;
    justify-content: end;
 } 
 .mobuttom {
    height: 55px;
    font-size: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
 }
 .keybord {
     overflow: hidden;
     margin-top: 10px;
    

 }
 .keybord button {
     width: 23%;
     padding: 10px;
     margin-bottom: 5px;
     /* height: 50px; */
     background-color: lawngreen;
     font-size: 25px;
     font-size: 30px;
     font-weight: 800;
 }
 .keybord button:hover {
     background-color: violet;
     color: green;
 }

  /* calculator End  */
